<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ .Params.description }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:image" content="{{ "images/images/og-image.jpg" | absURL }}">

<title>{{ .Title}}{{if .IsPage}} - {{.Site.Title}}{{ end }}</title>
{{partial "seo.html" .}}

{{ $main := resources.Get "sass/main.scss" | toCSS (dict "outputStyle" "compressed")}}
<link rel="stylesheet" href="{{ $main.RelPermalink }}">

<!-- Sidebar Profile -->
{{ if eq .Site.Params.post.sidebar.type "profile" }}
{{ $sidebarProfile := resources.Get "sass/sidebar-profile.scss" | toCSS (dict "outputStyle" "compressed")}}
<link rel="stylesheet" href="{{ $sidebarProfile.RelPermalink }}">
{{ end }}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{{ range .Site.Params.custom_css -}}
    <link rel="stylesheet" href="/{{ . }}">
{{- end }}
<link href="https://cdn.jsdelivr.net/npm/lightbox2@2/dist/css/lightbox.min.css" rel="stylesheet">

{{ $style := resources.Get "css/custom.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">

</head>
